.background-container {
  position: relative;
  height: 100vh;
  min-height: 450px;
  background-image: url('../public/Tesla1.jpeg');
  background-position: center center;
  background-size: cover;
}

.tiny-font {
  font-size: 0.8rem;
}

.tesla-logo {
  width: 10rem;
}

.burger-menu {
  display: none !important;
}

.burger-menu-navbar {
  display: none !important;
}

.sidebar-menu {
  height: 100vh;
  min-height: 450px;
  width: 15rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
}

.sidebar-menu-ul {
  width: 85%;
  padding: 0;
  margin: 0;
}

.sidebar-menu-ul a,
.sidebar-menu-ul button {
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 1rem 2.5rem 1rem 0.5rem;
  cursor: pointer;
  text-align: start;
}

.sidebar-menu-ul a:hover,
.sidebar-menu-ul button:hover {
  background-color: #e5e5e5;
}

.sidebar-menu-ul li a {
  text-decoration: none;
  color: black;
}

.sidebar-menu-ul button {
  border: none;
  background-color: transparent;
}

.active {
  width: 85%;
  background-color: #e5e5e5 !important;
  font-weight: bold;
}

.burger-menu-header-model {
  min-height: 500px;
}

.car-model {
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .burger-menu {
    display: flex !important;
  }

  .burger-menu-navbar {
    display: flex !important;
  }

  .sidebar {
    display: none !important;
  }

  .sidebar-menu-ul a,
  .sidebar-menu-ul button {
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 1rem 0.5rem 1rem 2.5rem;
    cursor: pointer;
    text-align: start;
  }

  .burger-menu-header-model {
    height: 50vh;
    min-height: 200px;
    max-height: 300px;
  }

  .car-model {
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .car-details {
    display: none !important;
  }
}
