.background-container {
  position: relative;
  height: 100vh;
  background-image: url('../public/Tesla1.jpeg');
  background-position: center center;
  background-size: cover;
}

.tiny-font {
  font-size: 0.8rem;
}
